.image-container{display: inline-block;height: 100%;width: 100%;}
.imgLabel{width: 100%;}
.image-Form{height: 100%;width: 100%;height: 100%;display: inline-block;position: relative;border: 1px solid rgba(0, 0, 0,0.1);/*border-radius: 20px 20px 0px 0px;*/}
.pre-img{width: 100%;height: 100%;margin: 0;/*border-radius: 20px 20px 0px 0px;*/background-position: 50% 50%;background-size: cover;}
.def-img{width: 60%;height: 60%;margin: 20%;}

.div-plus{width: 100%;height: 100%;position: relative;background: rgba(0, 0, 0, 0.06);}
.div-plus i{font-size: 26px;position: absolute;right: 0;left: 0;top: 0;bottom: 0;width: 20px;height: 20px;margin: auto;}
.Imgs-Form{width: 100%;height: auto;margin-top: 8px;display: inline-block !important;}
.Img-samll{width: 110px;height: 110px;float: left;margin-right: 10px;border: 1px solid rgba(0, 0, 0,0.1);margin-bottom: 10px;}
.addImg-small{width: 110px;height: 110px;border: 1px solid rgba(0, 0, 0,0.1);float: left;}
.divImg-small{float: left;position: relative;}
.removeImg{display: none;position: absolute;right: 20px;background: rgba(0,0,0,0.2);padding: 1px 3px;}
.removeImg i{font-size:20px;color:rgb(222, 69, 69);}
.divImg-small:hover  > .removeImg,
.image-Form:hover > .removeImg{display: block;}
.remove{position: absolute; right: 0;top: 0;font-size: 18px;}
.upload-sm-btn{border-top: 1px solid rgba(0,0,0,0.1);min-height: 20px;text-align: center;background: rgba(255, 255, 255, 0.61);width: 100%;margin: 0;}
