<div class="popup-bg">
  <div class="centerItem form">

    <div class="user-img">
      <app-img [item]="item" [name]="'Image'" [accept]="'image/*'" [IsImg]="true" [defaultImg]="'assets/images/icons-8-user.svg'" style="display: inline-block;width: 100%;height: 100%;border-radius: 100%;overflow: hidden;"></app-img>

    </div>

    <div class="mt-5" style="padding:0 20px;">
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="item.name" name="name">
      </div>
      <div class="form-group">
        <label for="">Job title</label>
        <input type="text" class="form-control" placeholder="Job title" [(ngModel)]="item.jobTitle" name="jobTitle">
      </div>
    </div>

    <div class="btns">
      <button type="button" name="button" class="btn btn-primary white-btn" (click)="item={};Close.emit()">
         Cancel
       </button>
       <button type="button" name="button" class="btn btn-primary" (click)="post()" *ngIf="!item?._id">
         Add
       </button>
       <button type="button" name="button" class="btn btn-primary" (click)="update()" *ngIf="item?._id">
         Save
       </button>
    </div>
  </div>
</div>
