<app-header ></app-header>
<div class="container">
  <form class="login-form mt-5">
  <div class="left-img">
    <img src="assets/images/rectangle-copy@2x.jpg" alt="">
  </div>
  <div class="form-right">
    <h1>Welcome back!</h1>
    <p>Please login to access your <span>Spaces</span> Dashboard</p>
    <div class="form-group">
      <label for="">Username</label>
      <input type="text" name="" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input type="text" name="" class="form-control" value="" placeholder="Password">
    </div>
    <div class="">
      <a class="Forgot-password" >Forgot password?</a>
      <button type="button" name="button" class="btn btn-primary login-btn">LOGIN</button>
    </div>
  </div>
  </form>

</div>
