.login-form{
  height: 500px;
  width: 700px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin: auto;
  display: flex;
}
.left-img{
  float: left;
  height: 100%;
}
.left-img img{height: 100%;}

.form-right{
  float: right;
  margin: auto auto;
}
.form-right h1{
  font-size: 25px;
    font-weight: bold;
     color: #34495e;
}
.form-right p{
  font-size: 15px;
  font-weight: bold;
  color: #7f8c8d;
}
.form-right p span{
  color: #8e44ad;
}
.form-group label{
  color: #7f8c8d;
}
.Forgot-password {
  font-size: 16px;
  color: #8e44ad !important;
  bottom: -9px;
  position: relative;

}

.login-btn{
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #8e44ad;
  border: 0;
  float: right;
  padding: 8px 20px;
  font-weight: bold;
}
